body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-transform: capitalize;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.495);
}
h2{
    color: rgba(0, 0, 0, 0.495);
    font-size: 30px;
}
p {
    color: dimgray;
}
 span.name-color {
    color: #ec4b74 ;
    font-weight: 700;
    font-family: sans-serif;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-bottom: ;
    
}
.top-banner {
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;    
    background-size: cover;
    
}

.half-side{
    
    width: 40%;
    margin-left: 5%;
    padding: 2%;
    box-sizing: border-box;
    
}
.half-side img {
    width: 100%;
}
.all-button {
    margin: 0px;
    padding: 10px 20px;
    background-image: linear-gradient(180deg, #ec4f91, #ec4b74);
    border: none;
    border-radius: 5px;
    
}
.all-button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.contain-section{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;    
    background-size: cover;
    
}

.img-experience img {
    width: 25%;
    margin-left: 3%;
    padding: 2%;
}

.experience{
    flex-direction: column;
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    
}

.latest-work{
    color: black;
    text-transform: capitalize;
}
.footer-section{
    flex-direction: column;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}
.footer-section h2 {
    color: black;
    text-transform: capitalize;
    
    
}
.footer-section h3 {
    text-transform: capitalize;
    margin-bottom: -5px;

}
.footer-section .ceo {
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 5px;
    
}
.footer-section .random-text {
    text-align: center;
    color: rgba(0, 0, 0, 0.799);
    font-weight: 500;
}
.text-box {
    color: white;
    text-align: center;
    background-image: linear-gradient(180deg, #ec4f91, #ec4b74);
    border-radius: 10px;
    padding: 10px 120px;
    margin-top: 15px;

}
.text-box h4 {
    font-size: 12px;
}
.text-box p{
    color: white;
}
footer{
    border-top: 1px dotted rgba(0, 0, 0, 0.279);
}
footer p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 12px;
}